.main{
	width: 100%;
	height: 100%;
	position: relative;
}
.easel{
	margin: 0px 50px;
}
.dialog-container{
	position: absolute;
}

.dialog-container:not(:empty) {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.modal-overlay{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
}

.dialog-instance{
	background: #fff;
	border: 2px solid #424242;
}
.dialog-header{
	background: #424242;
	color: #fff;
	padding: 10px;
}

.dialog-close-icon{
	float:right;
	margin-right: 5px;
}

.dialog-body .padded{
	padding: 20px;
}


.tile-field-value>.title-field-value
{
	display: inline-block;
}


button.checkbox {
	width: 1.5em;
	height: 1.5em;
	border: 2px solid;
	background: #dd4444;
	border-radius: 50%;
	cursor: pointer;
}

button.checkbox.checkbox-active {
	background: #44dd44;
}

.direction-group .direction{
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	border: 2px solid #000;
	text-align: center;
	margin: 2px;
}

.direction-group .direction.active{
	background: #000;
	color: #fff;
}

/* Super simple grid system */
.grid12 {
	width: 100%;
	overflow: hidden;
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);	
}

.grid12 [class^="span"] {
	float: left;
	padding-right: 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.grid12 [class^="span"] > [class*="baseline-"] {
	width: 100%;
	position: relative;
}

.grid12 [class^="span"] > .baseline-m {
	height: 20px;
}


/* Grid widths */
.grid12 .span1  { width: 8.33333333333333%; }
.grid12 .span2  { width: 16.6666666666667%; }
.grid12 .span3  { width: 25%; }
.grid12 .span4  { width: 33.3333333333333%; }
.grid12 .span5  { width: 41.6666666666667%; }
.grid12 .span6  { width: 50%; }
.grid12 .span7  { width: 58.3333333333333%; }
.grid12 .span8  { width: 66.6666666666667%; }
.grid12 .span9  { width: 75%; }
.grid12 .span10 { width: 83.3333333333333%; }
.grid12 .span11 { width: 91.6666666666667%; }
.grid12 .span12 { width: 100%; }

.grid12 .offset1  { margin-left: 8.33333333333333%; }
.grid12 .offset2  { margin-left: 16.6666666666667%; }
.grid12 .offset3  { margin-left: 25%; }
.grid12 .offset4  { margin-left: 33.3333333333333%; }
.grid12 .offset5  { margin-left: 41.6666666666667%; }
.grid12 .offset6  { margin-left: 50%; }
.grid12 .offset7  { margin-left: 58.3333333333333%; }
.grid12 .offset8  { margin-left: 66.6666666666667%; }
.grid12 .offset9  { margin-left: 75%; }
.grid12 .offset10 { margin-left: 83.3333333333333%; }
.grid12 .offset11 { margin-left: 91.6666666666667%; }
.grid12 .offset12 { margin-left: 100%; }

.grid12 .full-width {
   width: 100%;
	   -moz-box-sizing: border-box;
	        -webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

/* Extra (optional styles for getting exactly even grids) */
.grid12.even-gutters {
	overflow: hidden;
}

.grid12.even-gutters [class*="span"]:last-of-type {
	padding-right: 20px;
}

.grid12.even-gutters .row {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
}

.slide-menu {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.slide-menu {
	position: absolute;
	height: 100%;
	width: 50%;
	background: rgba(255,255,255,0.8);
	border: 2px solid;
	border-radius: 10px;
	padding: 10px 100px 10px 10px;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate(-90%, 0);
	-ms-transform: translate(-90%, 0);
	transform: translate(-90%, 0);
	left: 0;
	top: 0;
}

.slide-menu.right{
	right: 0%;
	left: inherit;
	-webkit-transform: translate(90%, 0);
	-ms-transform: translate(90%, 0);
	transform: translate(90%, 0);
	padding: 10px 10px 10px 100px;
}


.slide-menu.active {
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	transform: translate(0,0);
}

.slide-menu.right .corner-icon{
	left: 10px;
	right: inherit;
}

.slide-menu .corner-icon{
	position: absolute;
	height: 50px;
	width: 50px;
	top: 10px;
	right: 10px;
}

.slide-menu-title{
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	margin: 0;
	line-height: 1.5em;
}

.anim-icon {
    font-size: 0;
    display: block;
    width: 100%;
    top:  50%;
    position: absolute;
    left: 0;
}

.slide-menu .anim-icon {
    height: 4px;
    margin-top: -2px;
    background: #000;
}

.slide-menu .anim-icon:before,
.slide-menu .anim-icon:after
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: '';
    -webkit-transition: -webkit-transform 0.3s, background 0.3s;
    transition: transform 0.3s, background 0.3s;
}
.slide-menu .anim-icon:before {
    -webkit-transform: translateY(-250%);
    -ms-transform: translateY(-250%);
    transform: translateY(-250%);
}
.slide-menu .anim-icon:after {
    -webkit-transform: translateY(250%);
    -ms-transform: translateY(250%);
    transform: translateY(250%);
}

.slide-menu.active .anim-icon{
    height: 4px;
    margin-top: -2px;
	background: transparent;
}
.slide-menu.active .anim-icon:before{-webkit-transform: translateY(0) rotate(45deg);-ms-transform: translateY(0) rotate(45deg);transform: translateY(0) rotate(45deg);}
.slide-menu.active .anim-icon:after{-webkit-transform:translateY(0) rotate(-45deg);-ms-transform:translateY(0) rotate(-45deg);transform:translateY(0) rotate(-45deg);}