.dialog-container{
	position: absolute;
}

.dialog-container:not(:empty) {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.modal-overlay{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
}

.dialog-instance{
	background: #fff;
	border: 2px solid #424242;
}
.dialog-header{
	background: #424242;
	color: #fff;
	padding: 10px;
}

.dialog-close-icon{
	float:right;
	margin-right: 5px;
}

.dialog-body .padded{
	padding: 20px;
}


.tile-field-value>.title-field-value
{
	display: inline-block;
}


button.checkbox {
	width: 1.5em;
	height: 1.5em;
	border: 2px solid;
	background: #dd4444;
	border-radius: 50%;
	cursor: pointer;
}

button.checkbox.checkbox-active {
	background: #44dd44;
}

.direction-group .direction{
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	border: 2px solid #000;
	text-align: center;
	margin: 2px;
}

.direction-group .direction.active{
	background: #000;
	color: #fff;
}
