/* Super simple grid system */
.grid12 {
	width: 100%;
	overflow: hidden;
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);	
}

.grid12 [class^="span"] {
	float: left;
	padding-right: 20px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.grid12 [class^="span"] > [class*="baseline-"] {
	width: 100%;
	position: relative;
}

.grid12 [class^="span"] > .baseline-m {
	height: 20px;
}


/* Grid widths */
.grid12 .span1  { width: 8.33333333333333%; }
.grid12 .span2  { width: 16.6666666666667%; }
.grid12 .span3  { width: 25%; }
.grid12 .span4  { width: 33.3333333333333%; }
.grid12 .span5  { width: 41.6666666666667%; }
.grid12 .span6  { width: 50%; }
.grid12 .span7  { width: 58.3333333333333%; }
.grid12 .span8  { width: 66.6666666666667%; }
.grid12 .span9  { width: 75%; }
.grid12 .span10 { width: 83.3333333333333%; }
.grid12 .span11 { width: 91.6666666666667%; }
.grid12 .span12 { width: 100%; }

.grid12 .offset1  { margin-left: 8.33333333333333%; }
.grid12 .offset2  { margin-left: 16.6666666666667%; }
.grid12 .offset3  { margin-left: 25%; }
.grid12 .offset4  { margin-left: 33.3333333333333%; }
.grid12 .offset5  { margin-left: 41.6666666666667%; }
.grid12 .offset6  { margin-left: 50%; }
.grid12 .offset7  { margin-left: 58.3333333333333%; }
.grid12 .offset8  { margin-left: 66.6666666666667%; }
.grid12 .offset9  { margin-left: 75%; }
.grid12 .offset10 { margin-left: 83.3333333333333%; }
.grid12 .offset11 { margin-left: 91.6666666666667%; }
.grid12 .offset12 { margin-left: 100%; }

.grid12 .full-width {
   width: 100%;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/* Extra (optional styles for getting exactly even grids) */
.grid12.even-gutters {
	overflow: hidden;
}

.grid12.even-gutters [class*="span"]:last-of-type {
	padding-right: 20px;
}

.grid12.even-gutters .row {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
}
