.slide-menu {
	box-sizing: border-box;
}

.slide-menu {
	position: absolute;
	height: 100%;
	width: 50%;
	background: rgba(255,255,255,0.8);
	border: 2px solid;
	border-radius: 10px;
	padding: 10px 100px 10px 10px;
	transition: transform 0.5s;
	transform: translate(-90%, 0);
	left: 0;
	top: 0;
}

.slide-menu.right{
	right: 0%;
	left: inherit;
	transform: translate(90%, 0);
	padding: 10px 10px 10px 100px;
}


.slide-menu.active {
	transform: translate(0,0);
}

.slide-menu.right .corner-icon{
	left: 10px;
	right: inherit;
}

.slide-menu .corner-icon{
	position: absolute;
	height: 50px;
	width: 50px;
	top: 10px;
	right: 10px;
}

.slide-menu-title{
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	margin: 0;
	line-height: 1.5em;
}

.anim-icon {
    font-size: 0;
    display: block;
    width: 100%;
    top:  50%;
    position: absolute;
    left: 0;
}

.slide-menu .anim-icon {
    height: 4px;
    margin-top: -2px;
    background: #000;
}

.slide-menu .anim-icon:before,
.slide-menu .anim-icon:after
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: '';
    transition: transform 0.3s, background 0.3s;
}
.slide-menu .anim-icon:before {
    transform: translateY(-250%);
}
.slide-menu .anim-icon:after {
    transform: translateY(250%);
}

.slide-menu.active .anim-icon{
    height: 4px;
    margin-top: -2px;
	background: transparent;
}
.slide-menu.active .anim-icon:before{transform: translateY(0) rotate(45deg);}
.slide-menu.active .anim-icon:after{transform:translateY(0) rotate(-45deg);}